html {
    scroll-behavior: smooth;
}

header, section, footer {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

header{
    height: 70px;
    font-family: 'Ephesis', cursive;
    position: sticky;
    top: 0;
    border-radius: 10px;
    background-image: url(imagenes/cosmetica3.png);
    z-index: 2000;
}

section {
    height: 3730px;
    padding-top: 70px;
    font-family: 'Birthstone', cursive;
}

body {
    background-image: url(imagenes/cosmetica.png);
}


#Tonico {
    width: 220px;
    height: 70px;
    float: left;
    text-align: center;
    border-radius: 10px;
}

#botones {
    width: 480px;
    height: 60px;
    float: right;
    margin-right: 15px;
    margin-top: 5px;
}

#botones ul {
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#botones ul li {
    display: inline;
}

#botones ul li a {
    display: inline-block;
    width: 80px;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#botones ul li a:hover {
    background-color: cadetblue;
    border-radius: 10px;
}

.respuesta_usuario {
    color: darkolivegreen;
    font-size: 24px;
    font-weight: bolder;
}

.h3 {
    color:black;
}

#Nosotros {
        width: 960px;
        height: 560px;
}

#caja1 {
    background-image: url(imagenes/fondo_cajas.png);
    width: 930px;
    height: 560px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 20px;
    box-sizing: border-box;
    text-align: justify;
    font-size: 30px;
    border-radius: 10px;
}

h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family:'Birthstone', cursive;;
}
#Productos {
    width: 960px;
    height: 1400px;
}
#imagenes_productos {
    height: 480px;
}

#modulo_imagenes {
    height: 450px;
    margin-top: 60px;

}
.ajustar_img_bootstrap {
    border-radius: 10px;
}

.estilo_img {
    color: black;
    font-size: 24px;
    font-weight: bolder;
}

.estilo_img_1 {
    color: black;
    font-size: 32px;
    font-weight: bolder;
}

.estilo_img_2 {
    color: white;
    font-size: 32px;
    font-weight: bolder;
}
.estilo_img2 {
    color: white;
    font-size: 24px;
    font-weight: bolder;
}

#col1 {
    height: 400px;
    background-image: url(imagenes/fondo_cajas.png);
    border-radius: 10px;
}

.ajustar_img_cremas {
    width: 60%;
    margin-left: 55px;    
    border-radius: 10px;
    cursor: pointer;
}

.ajustar_img_serum {
    width: 60%;
    margin-left: 55px;
    border-radius: 10px;
    cursor: pointer;
}

.ajustar_img_jabones{
    width: 60%;
    margin-left: 55px;
    border-radius: 10px;
    cursor: pointer;
}

#caja2 { 
    background-image: url(imagenes/fondo_cajas.png);
    width: 300px;
    height: 350px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    float: left;
    border-radius: 10px;
    text-align: justify;
    box-sizing: border-box;
    padding: 20px;
}

#caja3 {
    background-image: url(imagenes/fondo_cajas.png);
    width: 300px;
    height: 350px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    float: left;
    border-radius: 10px;
    text-align: justify;
    box-sizing: border-box;
    padding: 20px;
}

#caja4 {
    background-image: url(imagenes/fondo_cajas.png);
    width: 300px;
    height: 350px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    float: left;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
}
/**modificar de los media**/

#cremas {
    background-image: url(imagenes/fondo_cajas.png);
    width: 300px;
    height: 450px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    float: left;
    border-radius: 10px;
    text-align: justify;
    box-sizing: border-box;
    padding: 10px;
    font-size: 15px;
    font-weight: bolder;
}

#aceites {
    background-image: url(imagenes/fondo_cajas.png);
    width: 300px;
    height: 450px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    float: left;
    border-radius: 10px;
    text-align: justify;
    box-sizing: border-box;
    padding: 10px;
    font-size: 15px;
    font-weight: bolder;
}

#jabones {
    background-image: url(imagenes/fondo_cajas.png);
    width: 300px;
    height: 450px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    float: left;
    border-radius: 10px;
    text-align: justify;
    box-sizing: border-box;
    padding: 10px;
    font-size: 15px;
    font-weight: bolder;
}


#Sucursales {
    width: 960px;
    height: 500px;
}

.ajustar_img_caba {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;

}

.ajustar_img_bsas {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;

}

#caja5 {
    background-image: url(imagenes/fondo_cajas.png);
    height: 500px;
    width: 455px;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 15px;
    float: left;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 30px;
    font-weight: bolder;
}

#caja6 {
    background-image: url(imagenes/fondo_cajas.png);
    height: 500px;
    width: 455px;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-right: 15px;
    margin-left: 20px;
    float: left;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 30px;
    font-weight: bolder;
}


#Conciencia {
    width: 960px;
    height: 600px;
}

#caja7 {
    background-image: url(imagenes/fondo_cajas.png);
    width: 930px;
    height: 550px;
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    font-weight: bolder;
}

/**estilo bootstrap**/


#Pedidos {
    width: 960px;
    height: 500px;
    float: left;
}

#modulo_formulario_2 {
    height: 480px;
}

#col4 {
    height: 430px;
    background-image: url(imagenes/fondo_cajas.png);
    border-radius: 10px;
}

#col5 {
    height: 430px;
    background-image: url(imagenes/frutas_pastel.png);
    border-radius: 10px;
    border: 2px solid black;
}


.estilo_formularios {
    margin-top: 5px;
    font-size: 25px;
}

.boton_sub{
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    color: black;
}

footer {
    width: 960px;
    height: 300px;
}

#caja_footer {
    width: 960px;
    height: 200px;
    border-radius: 10px;
    background-image: url(imagenes/cosmetica3.png);
    text-align: center;
}

#Contactos {
    width: 300px;
    height: 80px;
    float: left;
    margin-left: 15px;
    margin-top: 30px;
    margin-right: 15px;
    border-radius: 10px;
}

.ajustar_iconos {
    margin-left: 15px;
}

.icono_correo {
    padding: 10px;
}

.icono_correo_data{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

#redes {
    width: 400px;
    height: 80px;
    float: right;
    margin-top: 30px;
    margin-right: 15px; 
    border-radius: 10px;
}

@media all and (min-width: 600px) and (max-width: 1023px) {
    
    header, footer {
        width: 580px;
    }

    section {
    width: 580px;
    height: 3900px;
}
    
    #Tonico {
        width: 130px;
    }
    
    #botones {
        width: 420px;
    }
    
    #botones ul li a {
        width: 70px;
        font-size: 20px;
    }
    
    #Nosotros {
        width: 580px;
        height: 450px;
    }
    
    #caja1 {
        width: 580px;
        height: 450px;
        margin-left: 0px;
        font-size: 20px;
    }

    #Productos {
        width: 580px;
        height: 1600px;
    }
    
    .ajustar_img_cremas {
        width: 80%;
        margin-left: 5px;    
    }
    
    #imagenes_productos {
        height: 400px;
    }
    .ajustar_img_serum {
        width: 80%;
        margin-left: 5px;
    }
    
    .ajustar_img_jabones{
        width: 80%;
        margin-left: 5px;
    }
    
    #caja2 { 
        width: 185px;
        height: 250px;
        margin-left: 0px;
        margin-top: 15px;
        margin-bottom: 5px;
    }
    
    #caja3 {
        width: 185px;
        height: 250px;
        margin-left: 10px;
        margin-top: 15px;
        margin-bottom: 5px;
    }
    
    #caja4 {
        width: 185px;
        height: 250px;
        margin-left: 10px;
        margin-top: 15px;
        margin-bottom: 5px;
    }

    #cremas {
        width: 185px;
        height: 750px;
        margin-left: 0px;
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 10px;
        font-size: 20px;
    }
    
    #aceites {
        width: 185px;
        height: 750px;
        margin-left: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 10px;
        font-size: 20px;
    }
    
    #jabones {
        width: 185px;
        height: 750px;
        margin-left: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 10px;
        font-size: 15px;
    }
    
    #Sucursales {
        width: 580px;
        height: 450px;
    }
    
    #caja5 {
        height: 350px;
        width: 270px;
    }
    
    #caja6 {
        height: 350px;
        width: 270px;
        margin-left: 10px;

    }
    
    #Conciencia {
        width: 580px;
        height: 700px;
    }
    
    #caja7 {
        width: 580px;
        height: 680px;
        margin-left: 0px;
    }

    #Pedidos {
        width: 580px;
        height: 560px;
        margin-left: 0px;

    }
    
#modulo_formulario_2 {
    height: 480px;
}

#col4 {
    height: 440px;
}

#col5 {
    height: 440px;
}
    
    footer {
        height: 200px;
        margin-top: 10px;
    }

    #caja_footer {
        width: 580px;
        height: 200px;
    }
    
    #Contactos {
        width: 190px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .ajustar_iconos {
        margin-left: 10px;
    }
    
    .icono_correo {
        padding: 10px;
    }
    
    .icono_correo_data{
        font-weight: normal;    }
    
    #redes {
        width: 360px;
        margin-right: 0px;
    }

}  /** no borrar ninguna de las 2 llaves **/

@media all and (max-width: 599px) {
    header, section, footer {
        width: 90%;
    }
    
    header{
        height: auto;
        position: relative;
    }
    
    #Tonico, #botones {
        width: 100%;
        height: auto;
        float: none;
    }

    section {
        height: 6900px;
        padding-top: 100px;
    }

    #botones ul li a {
        width: 100%;
        height: auto;
        font-size: 20px;
    }
    
    #Nosotros, #caja1, #caja2, #caja3, #caja4, #cremas, #aceites, #jabones, #Conciencia {
       width: 90%;
       height: auto;
    }
    
    #Productos {
        width: 90%;
        height: 2300px;
    }

    #imagenes_productos {
        height: 400px;
    }
  
    #Sucursales {
        width: 90%;
        height: auto;
    }
    
    #caja5 {
        height: auto;
        width: 90%;
        float: none;
    }
    
    #caja6 {
        height: auto;
        width: 90%;
        float: none;
    }
    
    #caja7 {
        width: 90%;
        height: auto;
        float: none;
    }

    #Pedidos {
        width: 90%;
        height: auto;
    }
    #modulo_formulario {
        width: 90%;
        height: auto;
        margin-left: 30px;
    }

    #modulo_formulario_2 {
        width: 90%;
        height: auto;
        margin-left: 30px;

    }

    footer {
        width: 90%;
        height: auto;
    }

    #caja_footer {
        width: 90%;
        height: auto;
        margin-left: 10px;
    }
    
    #Contactos {
        width: 90%;
        height: 80px;
        float: none;
    }
    
    .ajustar_iconos {
        margin-left: 10px;
    }
    #redes {
        width: 90%;
        height: 80px;
        float: none;
        margin: 5px;
    }
} /** no borrar ninguna de las 2 llaves**/

